<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<meta charset="UTF-8">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Gerenciador de Eventos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" sec:authorize="hasAnyRole('ADMIN','USER')" >
        <a class="nav-link" href="/">Home</a> 
      </li>
      <li class="nav-item" sec:authorize="hasRole('ADMIN')"> 
        <a class="nav-link" href="/casasdeshow">Casas de Show</a>
      </li>
       <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" href="/eventos">Eventos</a>
      </li>
      <li class="nav-item" sec:authorize="hasAnyRole('ADMIN','USER')">
        <a class="nav-link" href="/historico">Histórico</a>
      </li>
    </ul>
    
    <form action="/logout" method="post" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
    
  </div>
</nav>
</html>