<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="card container-fluid col-sm-4">
<div class="card-body ">
 
 <form action="/cadastro" method="post" th:object="${cadastrologin}">
 <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
   <div th:each="detailedError : ${#fields.detailedErrors()}">
    <span th:text="${detailedError.message}"></span>
   </div>
 </div>
  <div class="form-group">
    <label for="Nome">Nome</label>
    <input type="text" th:field="*{username}" class="form-control col-sm-4" placeholder="Usuário"
           th:classappend="${#fields.hasErrors('username')} ? is-invalid"> 
  </div>
  
  <div class="form-group">
    <label for="Senha">Senha</label>
    <input type="password" th:field="*{password}" class="form-control col-sm-4" placeholder="Senha"
            th:classappend="${#fields.hasErrors('password')} ? is-invalid">
  </div>
  
   <button type="submit" class="btn btn-primary">Cadastrar</button>
 </form>
 </div>
</div>

</body>
</html>