<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Casas de Show</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<section layout:fragment="conteudo principal">

<form method="POST" action="/casasdeshow" th:object="${cadastrocasa}">
   <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
       <span>Casa de Show cadastrada com sucesso</span>
   </div>  
   <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
      <div th:each="detailedError : ${#fields.detailedErrors()}">
         <span th:text="${detailedError.message}"></span>  
      </div> 
   </div> 
		<div class="card">
			<div class="card-header">
		       <div class="clearfix">
			      <h1 class="card-title aw-titulo-card">Casas de Show</h1> 
	           </div>  
			</div>
			<div class="card-body">
			  <input type="hidden">
			
				<label for="casasdeshow" class="col-md-2 col-form-label">Casa de Show</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="nome" name="nome" 
					  th:classappend="${#fields.hasErrors('nome')} ? is-invalid">
				</div>
			
			
				  <label  for="endereco" class="col-sm-2 control-label" >Endereço</label>
				   <div class="col-md-2"  >
					<input type="text" class="form-control" id="endereco" name="endereco"
					       th:classappend="${#fields.hasErrors('endereco')} ? is-invalid">
				   </div>
		 
				
				<div class=" col-md-offset-2  col-md-10">
					<button type="submit" class="btn btn-primary" style="margin-top:14px;">Enviar</button>
				</div>
			</div>
		</div>
</form>		
	<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">id</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Endereço</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Deletar</th>
					</tr>
				</thead>
				<thead>
				
				     <tr th:each="cadastro : ${cadastro}">
				       <td class="text-center" th:text="${cadastro.codigo}"></td>
				       <td class="text-center" th:text="${cadastro.nome}"></td>
				       <td class="text-center" th:text="${cadastro.endereco}"></td>
				       <td class="text-center"></td>
				       <td class="text-center">
				        <span class="badge"></span>
				       </td>
				     </tr>
				     <tr>
				        <td colspan="5" th:if="${#lists.isEmpty(cadastro)}">Nenhuma Casa de Show foi Cadastrada</td>
				     </tr>
	          </thead>
			</table>			 
	 </div>
</section>
</html>