<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
<link rel="stylesheet" th:ref="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<section layout:fragment="conteudo principal">
<form id="enviarevento" class="form-horizontal" method="POST" action="/eventos" th:object="${cadastroevento}" >
	
		
		<div class="card">
			<div class="card-header">
		       <div class="clearfix">
			      <h1 class="card-title aw-titulo-card">Eventos</h1>
	           </div>  
			</div>
			<div class="card-body">
			  <input type="hidden">
			
				<label for="nomeevento" class="col-md-2 col-form-label">Evento</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="nomeevento" name="nomeevento" >
				</div>
			
			
				<label for="capacidade" class="col-md-2 col-form-label">Capacidade</label>
				<div class="col-md-2">
					<input type="text" class="form-control" id="capacidade" name="capacidade" />
				</div>
			
	
				  <label  for="dataevento" class="col-sm-2 control-label" >Data</label>
				   <div class="col-md-2"  >
					<input type="text" class="form-control" id="dataevento" name="dataevento" />
				   </div>
				   
				    <label  for="valor" class="col-sm-2 control-label" >Valor do Ingresso</label>
				   <div class="col-md-2"  >
					<input type="text" class="form-control" id="valor" name="valor" />
				   </div>
				   
			<label for="casadeshow" class="col-md-1"></label>
				<div class="col-md-1">
					 <select class="form-control" name="cadastrocasa">
                         <option value=""> Selecione Casa de Show </option>
                         <option th:each="casa : ${listacasas}"
                            th:value="${casa.codigo}"
                            th:text="${casa.nome}"/>
                  </select>
				</div>
				
			<label for="genero" class="col-md-1"></label>
				<div class="col-md-1">
					<select class="form-control" name="genero">
						<option></option>
					</select>
				</div>
				  
				
				<div class="col-md-offset-2  col-md-10">
					<button type="submit" class="btn btn-primary" style="margin-top:14px;">Enviar</button>
				</div>
			</div>
		</div>
	</form>
	<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">id</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Capacidade</th>
						<th class="text-center">Preço do Ingresso</th>
						<th class="text-center">Casa de Show</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Deletar</th>
					</tr>
				</thead>
				<thead>
				
				     <tr>
				       <td class="text-center"></td>
				       <td class="text-center"></td>
				       <td class="text-center"></td>
				       <td class="text-right"></td>
				       <td class="text-center"></td>
				        <td class="text-center"></td>
				        <td class="text-center"></td>
				     </tr>
				     <tr>
				        <td colspan="7" th:if="${#lists.isEmpty(cadastro)}">Nenhum Evento foi cadastrado</td>
				     </tr>
	          </thead>
			</table>			 
	 </div>
	
</section>




</html>
