<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
<link rel="stylesheet" th:ref="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<section layout:fragment="conteudo principal">
<form id="enviarevento" class="form-horizontal" method="POST" action="/eventos" th:object="${cadastroevento}" >
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
	   <span>Evento salvo com sucesso</span>
	</div>
	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	  <div th:each="detailedError : ${#fields.detailedErrors()}">
	   <span th:text="${detailedError.message}"></span>
	   </div>
	</div>			
		<div class="card">
			<div class="card-header">
		       <div class="clearfix">
			      <h1 class="card-title aw-titulo-card">Eventos</h1>
	           </div>  
			</div>
			<div class="card-body">
			  <input type="hidden">
			
				<label for="nomeevento" class="col-md-2 col-form-label">Evento</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="nomeevento" th:field="*{nomeevento}" 
					       th:classappend="${#fields.hasErrors('nomeevento')} ? is-invalid">
				</div>
			
			
				<label for="capacidade" class="col-md-2 col-form-label">Capacidade</label>
				<div class="col-md-2">
					<input type="text" class="form-control" id="capacidade" th:field="*{capacidade}"
					         th:classappend="${#fields.hasErrors('capacidade')} ? is-invalid"/>
				</div>
			
	
				  <label  for="dataevento" class="col-sm-2 control-label" >Data</label>
				   <div class="col-md-2"  >
					<input type="text" class="form-control" id="dataevento" th:field="*{dataevento}" 
					        th:classappend="${#fields.hasErrors('dataevento')} ? is-invalid"/>
				   </div>
				   
				    <label  for="valor" class="col-sm-2 control-label" >Valor do Ingresso</label>
				   <div class="col-md-2"  >
					<input type="text" class="form-control" id="valor" th:field="*{valor}" 
					        th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />
				   </div>
				   
			<label for="casadeshow" class="col-md-1"></label>
				<div class="col-md-1">
					 <select class="form-control" th:field="*{cadastrocasa}">
                         <option value=""> Selecione Casa de Show </option>
                         <option th:each="casa : ${listacasas}"
                            th:value="${casa.codigo}"
                            th:text="${casa.nome}"/>
                  </select>
				</div>
				
			<label for="genero" class="col-md-1"></label>
				<div class="col-md-1">
					<select class="form-control" th:field="*{genero}">
						<option th:each=" estiloeventos : ${estiloevento}" th:value="${estiloeventos}" th:text="${estiloeventos.estilo}"></option>
					</select>
				</div>
				  
				
				<div class="col-md-offset-2  col-md-10">
					<button type="submit" class="btn btn-primary" style="margin-top:14px;">Enviar</button>
				</div>
			</div>
		</div>
	</form>
	<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">id</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Capacidade</th>
						<th class="text-center">Preço do Ingresso</th>
						<th class="text-center">Casa de Show</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Deletar</th>
					</tr>
				</thead>
				<thead>
				     <tr th:each="eventos : ${evento}">
				       <td class="text-center" th:text="${eventos.codigo}"></td>
				       <td class="text-center" th:text="${eventos.nomeevento}"></td>
				       <td class="text-center" th:text="${eventos.capacidade}"></td>
				       <td class="text-center" th:text="|R$ ${{eventos.valor}}|"></td>
				       <td class="text-center" th:text="${eventos.cadastrocasa.nome}"></td>
				       
				        <td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/eventos/{codigo}(codigo=${eventos.codigo})}">Editar</a></td>
				        
				        <td class="text-center"><a class="btn btn-link btn-xs" data-toggle="modal" data-target="#ExclusaoModal"
				            th:attr="data-codigo=${eventos.codigo}">Excluir</a></td>
				     </tr>
				     <tr>
				        <td colspan="7" th:if="${#lists.isEmpty(evento)}">Nenhum Evento foi cadastrado</td>
				     </tr>
	          </thead>
			</table>			 
	 </div>
	 <div layout:insert="ConfirmacaoExclusaoEvento"></div>
	 
	
</section>




</html>
