<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" 
     >
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:ref="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="card container-fluid col-sm-4">
<div class="card-body ">
 <div th:if="${param.error}">
    <div class="alert alert-danger">Usuário e/ou inválidos</div>
 </div>
 <div th:if="${param.logout}">
    <div class="alert alert-info">Até logo!</div>
 </div>
 <form action="/login" method="post" >
 
 
   <div class="text-center">
     <h3>Login</h3>
   </Div>
 
  <div class="form-group">
    <label for="Username">Username</label>
    <input type="text" name="username" class="form-control col-sm-4" placeholder="Usuário"> 
  </div>
  
  <div class="form-group">
    <label for="Senha">Senha</label>
    <input type="password" name="password" class="form-control col-sm-4" placeholder="Senha">
  </div>
  
   <button type="submit" class="btn btn-primary">Entrar</button>
   
   <a type="submit" class="btn btn-primary" href="/cadastro">Cadastrar</a>
 </form>
 </div>
</div>

</body>
</html>